body {
	padding-top: 20px;
}

dd {
	padding: 10px 0;
}

#main ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li.tweet-view {
	padding: 20px;
	border-bottom: 1px solid #f0f0f0;
}

li.tweet-view:hover h2 {
	text-decoration: underline;
}

.retweeted {
	background: green !important;
}

